<mat-card>
  <mat-card-title color="primary">
    <mat-icon svgIcon="dashboard"></mat-icon>
    Dashboard
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="isLoading">
      <mat-list>
        <mat-list-item>
          <mat-progress-spinner matListAvatar color="primary" mode="indeterminate" diameter="40"></mat-progress-spinner>
          <h3 matLine> Loading! </h3>
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="!isLoading">
      <app-self-info></app-self-info>
    </div>
  </mat-card-content>
</mat-card>