<mat-card>
  <mat-card-title color="primary">
      <mat-icon svgIcon="security"></mat-icon>
    AWS API Credentials
  </mat-card-title>
  <mat-card-content>
      <form class="credentials-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Access Key" [(ngModel)]="accesskey" name="accesskey" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Secret Key" [(ngModel)]="secretkey" name="secretkey" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-select placeholder="Selected Region" [(value)]="selectedRegion">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let r of regions" [value]="r">{{r.displayText}}</mat-option>
              </mat-select>
            </mat-form-field>
        
          <button mat-raised-button color="primary" (click)="save()"> <mat-icon svgIcon="save"></mat-icon>Save Changes</button>
        </form>
  </mat-card-content>


</mat-card>